.homeMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-image: var(--graphBG);
}

.signUpMain {
  min-height: 100vh;
  background-image: var(--graphBG);
}

.dashboardMain {
  
}

.inboxMain {
  display: flex;
  justify-content: center;
  align-items: center;
}